---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="min-h-screen flex flex-col items-center justify-center text-center px-6"
  >
    <h1 class="text-6xl font-bold text-dark dark:text-light mb-4">404</h1>
    <p class="text-lg text-dark/70 dark:text-light/60 mb-8">
      Ups... la página que buscás no existe.
    </p>
    <a
      href="/"
      class="bg-primary text-white px-6 py-3 rounded-full hover:bg-accent transition"
    >
      Volver al inicio
    </a>
  </section>
</Layout>
