---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import AboutSkills from "../components/AboutSkills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import LabSection from "../components/LabSection.astro";
---

<Layout>
  <Navbar />

  <main
    id="main-content"
    aria-label="Contenido principal"
    class="scroll-smooth"
  >
    <Hero />
    <AboutSkills />
    <Projects />
    <Contact />
    <LabSection />
  </main>

  <Footer />
</Layout>
