---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import LabSection from "../components/LabSection.astro";
---

<Layout>
  <Navbar />
  <main aria-label="Contenido principal" class="scroll-smooth">
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
    <LabSection />
  </main>
  <Footer />
</Layout>; ---
