---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="fixed top-2 inset-x-2 z-50 glass-box border-b border-black/5 dark:border-white/10">
  <div class="max-w-7xl mx-auto px-6 md:px-12 py-4 flex items-center justify-between">
    <!-- Inicio -->
    <a
      href="/"
      class="text-sm sm:text-base font-medium text-surface hover:text-primary transition"
    >
      ← Inicio
    </a>

    <!-- Ruta + toggle -->
    <div class="flex items-center gap-4">
      <ThemeToggle size="w-6 h-6" />
    </div>
  </div>
</nav>
